*{

    --primary: #5dade2;
      --primary-hover: #3377a4;
      --background: #0e0e0e;
      --surface: #1a1a1a;
      --surface-light: #2c2c2c;
      --text: #e5e5e5;
      --text-secondary: #dcdcdc;
      --border: #2c2c2c;
      --shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
      --transition: all 0.3s ease;
}
main{
    width: 100vw;
}
main .container-principal{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 90px;
    padding-bottom: 20px;
     width: 80%;
     align-items: center;
      background-color: var(--surface-light);
      border: 2px solid var(--border);
      border-radius: 5px;
       margin: auto;
}
.user-info{
    display: flex;
    gap: 30px;
}
.user-info-dados{
  gap: 10px;
    display: flex;
    align-items: center;
    
}
.avatar-container{
   width: 80px;
   height: 80px;
   border-radius: 50%;
    
}
.avatar-container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}
#username{
    font-weight: 600;
    font-size: 20px;
    color: var(--primary);

}
#email{
    font-weight: 200;
    font-size: 14px;
    color: var(--text-secondary);
}
.cards-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    color: black;
}

.cards{
    padding: 10px;
    flex-direction: column;
    gap: 10px;
    border-radius: 8px;
    margin: auto;
    width: 200px;
    height: 100px;
   background-color: var(--text);
}
.cards:hover{
    cursor: pointer;
    background-color:rgb(163, 163, 163) ;
}
.escrita-cards p{
    color: var(--primary);
    font-size: 17px;
}
.escrita-cards span{
    color: rgb(113, 113, 113);
    font-size: 13px;
}

/* modal.css */

.modal-cartao {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-conteudo {
  background-color: #111;
  border: 2px solid #477bdc;
  border-radius: 12px;
  padding: 24px;
  color: white;
  width: 300px;
  max-width: 90%;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  animation: aparecer 0.3s ease-out;
}

.modal-conteudo h2 {
  color: #477bdc;
  margin-bottom: 16px;
}

.modal-conteudo button {
  margin-top: 20px;
  background-color: #477bdc;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.modal-conteudo button:hover {
  background-color: #355db4;
}

.botao-modal {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #111;
  border: 2px solid #477bdc;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.botao-modal:hover {
  background-color: #222;
}

@keyframes aparecer {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
